* {box-sizing: border-box;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
.price {
    color: grey;
    font-size: 22px;
  }
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.card button:hover {
    opacity: 0.7;
  }
.row {
  display: flex;
  flex-wrap: nowrap;
    
  }
    
.column {
    float: left;
    width: 30%;
    padding: 15px;
    column-count: 0;
    column-width: 100%;
    position:relative;
    left: 2%;
    
  }
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table-column;
  }
.tcolor{
    color: white;
    font-weight: bold;
    font-family:'Lucida Sans';
}
.ri{
    position: absolute;
    left: 90%;
}
.de{
  position: absolute;
  top: 15%;
  max-width: 50%;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 53%;
  bottom: 20%;
  width: 600px;
  height: 300px;
  text-align: justify;
  font-family: arial;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}